/*head.li {*/
/*  display: inline;*/
/*}*/

header nav ul {
  display: flex;
  justify-content: center;
  gap: 40px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

.float-left {
  float: left;
}

.float-right {
  float: left;
}

header, aside, main {
  border: 1px solid lightgray;
}

.tamanho-aside {
  max-width: 100px;
}

.tamanho-main {
  max-width: 600px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}